html {
  min-height 100%
}

* {
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box
}

body {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  font-family: 'HelveticaNeue-Medium', Arial;
  background-color: #FF530A;
}

img {
  max-width: 100%;
}

i {
  font-family: HelveticaNeue-MediumItalic
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex_center {
  justify-content: center;
}

.block {
  width: 100vw;
}

@media laptop {
  .block_last {
    min-height: 0px;
  }
}

.bg_red {
  background: #FF530A;
  /* background: #FA6400; */
}

.bg_navy {
  background: #22466F;
  background: blue;
}

.bg_navy h2,
.bg_navy .textblock {
  z-index: 9;
}

.bg_navy p {
  color: white;
}

.bg_yellow {
  background: #F7B500;
  background: #FFF800;
}

.textblock {
  margin: 9vw;
  font-size: 6vw;
}

@media laptop {
  .textblock {
    margin: 6vw;
    width: 40vw;
    font-size: 3vw;
    position: relative;
  }
}

.textblock p {
  line-height: 120%;
  padding-bottom: 1em;
}

@media laptop {
  .textblock p {

    padding-bottom: 1em;
  }
}

.intro {
  margin-top: 15vw;
}

@media laptop {
  .intro {
    margin-top: 10vw;
    /* margin-top: 90vh */
  }
}

.underline {
  padding-bottom: -.1em;
  border-bottom: .09em solid black;
}

.underline:hover {
  border-color: white;
}

.underline.invert {
  border-color: white;
}

.underline.invert:hover {
  /* border-color: black;
  color: black; */
  box-shadow: 0px 0px 53px 30px rgba(255,83,10,1);
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

a.invert {
  color: white;
}

@media laptop {
  .small {
    font-size: .5em;
  }
}

.dial_container {
  width: 100vw;
  height: 9.5rem;
  background: blue;
  overflow: hidden;
}

@media laptop {
  .dial_container {
    width: 100vw;
    height: 9.5rem;
    background: blue;
    position: fixed;
    overflow: hidden;
    top: 25vw;
    left: -34vw;
    transform: rotate(-90deg);
  }
}

.dial {
  width: 2000vw;
  /* width of bg image */
  min-width: 3200px;
  height: 5.5rem;
  margin: 2rem 0 6rem;
  font-size: 0;
  background: url(/uploads/dial2.png) 0 center repeat-x;
  background-size: auto 5.5rem;
  transform: translateX(0);
  animation: dial 30s linear infinite;
}

@media laptop {
  .dial {
    animation: dial 130s linear infinite;
  }
}

@keyframes dial {
	0% {
		transform: translateX(0)
	}
	100% {
    /* half the width of bg image */
		transform: translateX(-2000vw)
	}
}

.logo {
  background-image: url(/assets/_img/logo.svg);
  background-size: cover;
  height: 30vw;
  width: 30vw;
  bottom: -10vw;
  right: 10vw;
  position: absolute;
  animation-name: spin;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 9;
}

@media laptop {
  .logo {
    position: fixed;
    height: 20vw;
    width: 20vw;
    bottom: 5vw;
    right: 5vw;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}



.waves {
  width: 3.1em;
  height: 10px;
  position: relative;
  top: 1.7em;
  overflow: hidden;
}

@media laptop {
  .waves {
    top: 1.5em;
  }
}

.waves_inside {
  background: url(/assets/_img/wave.svg);
  background-repeat: repeat-x;
  width: 100vw;
  height: .5em;
  position: absolute;
  left: 0;
  animation-name: scroll2;
  animation-duration: 5s;
  /* animation-delay: 500ms; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 9;
  top: 0;
  transform: scale(.7);
  transform-origin: 0 0;
}

@media laptop {
  .waves_inside {
    animation-duration: 30s;
    height: .5em;
  }
}

@keyframes scroll2 {
  0% {
    left: 0vw;
  }
  100% {
    left: -25vw;
  }
}

.bigbox {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,30,0,.3)
}

.crab {
  width: 2em;
  height: 2em;
  background-image: url(/assets/_img/crab.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.wave_container {
  overflow: auto;
  min-height: 70vh
}

.bigwaves {
  width: 100vw;
  height: 10px;
  position: relative;
  top: 1.5em;
  overflow: hidden;
  z-index: 9;
}

.bigwaves_inside {
  background: url(/assets/_img/wave.svg);
  background-repeat: repeat-x;
  width: 200vw;
  height: .5em;
  position: absolute;
  left: 0;
  animation-name: scroll3;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 9;
  top: 0;
}

@keyframes scroll3 {
  0% {
    left: -25vw;
  }
  100% {
    left: 0vw;
  }
}

.menurow {
  margin-bottom: 4em;
  font-size: 1.5vw;
}

@media laptop {
  .menurow {
    margin-bottom: 1em;
  }
}

.menucolumn {
  font-size: 5vw;
}

@media laptop {
  .menucolumn {
    font-size: 1.5vw;
    flex-grow: 1;
    width: 45%;
    margin-right: 5%;
  }
}

.safetyrow {
  margin-bottom: 1em;
}

.safetycolumn {
  font-size: 5vw;
}

.safetyrow .safetycolumn:nth-child(2) {
  font-family: Times;
  margin-top: .5em;
}

@media laptop {
  .safetycolumn {
    font-size: 1.5vw;
    flex-grow: 2;
    width: 65%;
    margin-right: 5%;
  }
}

.menurow .menucolumn:nth-child(2) {
  font-family: HelveticaNeue-MediumItalic;
  opacity: .5;

}

.signup {
  overflow: visible;
}

.signup input.email {
  height: 30px;
  padding: 25px;
  font-size: 15px;
  outline: none;
  width: 100%;
  border: 3px solid black;
  background: white;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  margin-bottom: 1em;
  border-radius: 0;
}

@media laptop {
  .signup input.email {
    height: 50px;
    padding: 30px;
    font-size: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    margin-bottom: 0;
  }
}

.signup .button {
  height: 52px;
  padding: 15px 27px;
  font-size: 15px;
  color: white;
  background: blue;
  outline: none;
  margin-top: 2em;
  border-radius: 0;
}

@media laptop {
  .signup .button {
    height: 66px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: -2.5px;
  }
}

.signup .button:hover {
  background: linear-gradient(180deg, rgba(123,135,255,1) 0%, rgba(19,0,255,1) 100%);
}

/* .fight {
  width: 35vw;
  transform: rotate(15deg);
  border: 2px solid #FF530A;
  position: absolute;
  box-shadow: 10px 10px 0px 0px red;
  top: 10vw;
  left: 40vw;
  z-index: 10;
} */

.safe {
  background: url(/uploads/island.gif);
  background-size: cover;
  background-position: center center;
  min-height: 90vh;
}

.flyover {
  height: 90vw;
  width: 100%;
  background: url(/uploads/3dcrabs.gif);
  background-size: cover;
}

@media laptop {
  .flyover {
    height: 30vw;
  }
}

.safe p {
   text-shadow: 0 0 10px #000;
}

.rope {
  width: 100%;
  height: 25px;
  background: url(/uploads/rope.png) repeat-x;
  background-size: 25px;
  margin-bottom: 20px;
}

.rope:nth-child(1) {
  margin-top: 20px;
}

.seagull {
  position: absolute;
  top: 0;
  right: 10vw;
}

@media laptop {
  .seagull {
    transform: scale(2);
  }
}

.color-white {
  color: white;
}

.emoji {
  display: inline;
  max-width: 1em;
  position: relative;
  transform: scale(1.1)
}

.fixed {
  position: fixed;
}

.times {
  font-family: Times-Roman, Times, serif;
}

.courier {
  font-family: Courier, monospace;
}


.tickets {
  position: fixed;
  bottom: 5vw;
  width: 100vw;
  z-index: 999;
}

@media laptop {
  .tickets {
    bottom: 2vw;
  }
}

.tickets a {
  background: blue;
  width: 250px;
  margin-left: -125px;
  left: 50%;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(255,255,255,1), -10px -10px 5px 0px rgba(255,248,0,1);
  padding: 20px 40px;
  color: white;
  font-size: 1.5em;
  font-family: 'HelveticaNeue-Medium', Arial;
  text-align: center;
  z-index: 999;
}

.tickets a:hover {
  box-shadow: 10px 10px 5px 0px rgba(255,248,0,1), -10px -10px 5px 0px rgba(255,255,255,1);
  background: #FF530A;
  color: white;
  /* transform: translateY(10px) */
}

.width100 {
  width: 100%;
}

.maxWidthM {
  max-width: 30em;
}
