{% include minihead.html %}

<div class="logo"></div>

<div class="dial_container">
  <h1 class="dial"></h1>
</div>

<section class="flex flex_center block bg_red">
  <div class="textblock intro">
    <p><span class="">The Canlis Crab Shack</span> is a pop-up in our parking lot featuring all the crab 🦀 you can handle, a boat wreck 🛥️, luxury commodes 🚽, cocktails on draft, and copius amounts of hand sanitizer 💦. Bibs provided. Bucket hats available for purchase.</p>
  </div>
</section>
<section class="flex flex_center block bg_yellow">
  <div class="textblock">
    <img class="seagull" src="/uploads/seagull2.gif"/>
    <p><span class="price"><div class="waves"><div class="waves_inside"></div></div>$59.95</span> per person.</p>
    <div class="menurow flex">
      <div class="menucolumn">
        Housemade Potato Chips
      </div>
      <div class="menucolumn">
        with a Green Garlic-Miso and Smoked Sockeye Salmon Dip
      </div>
    </div>
    <div class="menurow flex">
      <div class="menucolumn">
        One Whole Dungeness Crab
      </div>
      <div class="menucolumn">
        with New Potatoes, Spring Onions, and Fennel with Kani Miso Remoulade and Drawn Butter
      </div>
    </div>
    <div class="menurow flex">
      <div class="menucolumn">
        Corn Roasted in the Wood Oven
      </div>
      <div class="menucolumn">
        with Chile pequin, Kewpie Mayo, Lime, Cilantro
      </div>
    </div>
    <div class="menurow flex">
      <div class="menucolumn">
        Heirloom Tomato Carpaccio
      </div>
      <div class="menucolumn">
        with Fermented Cherry, Shallot, and Strawberry Vinegar
      </div>
    </div>
    <div class="menurow flex">
      <div class="menucolumn">
        Sea Lettuce Parker House Rolls
      </div>
      <div class="menucolumn">
        with Cultured Butter
      </div>
    </div>
    <div class="menurow flex">
      <div class="menucolumn">
        Vinegar Potato Chips
      </div>
      <div class="menucolumn">
        with Smoked Salmon and Dill Dip and Artichoke and Green Garlic Miso Dip
      </div>
    </div>
    <div class="menurow flex">
      <div class="menucolumn">
        Fresh Berry Galette
      </div>
      <div class="menucolumn">
        with Whipped Cream
      </div>
    </div>
  </div>
</section>
<section class="flex flex_center block bg_navy safe">
  <div class="textblock">
    <p>The best restaurant these days is the safest restaurant.</p>
    <p><i><a class="underline invert" href="">Here’s</a></i> what we’re doing to stay clean, sanitized, and fight the monster.</p>
    <!-- <img src="/uploads/island.gif" class="fight"/> -->
  </div>
</section>
<section class="flex flex_center block bg_yellow">
  <div class="rope"></div>
  <div class="textblock">
    <p>Opens on <i>July 16th</i>. 🏖</p>
    <p>Tickets go on sale here July 10th at 3:00PM PST. 💥</p>
    <p>Want us to send you an email when tickets go live?</p>
    <div class="signup">
      <form class="flex">
        <input placeholder="coolbeans@aol.com">
        <button type="submit">Email me!</button>
      </form>
    </div>
    <img class="mt8" src="/uploads/we_are_waiting_for_you.gif"/>
  </div>
  <div class="rope"></div>
</section>
<section class="flex flex_center block block_last bg_navy">
  <div class="textblock">
    <p>Follow Canlis for the latest. <img style="width: 30px;" src="https://seeklogo.com/images/I/instagram-logo-3EDAAFAF47-seeklogo.com.png">
      <a class="underline invert" href="http://instagram.com/canlisrestaurant" target="_blank">
      <span >@canlisrestaurant</span></a></p>
    <!-- <div class="crab"></div> -->
    <img src="/uploads/crab.gif"/>
    <p class="small"><i><a href="https://www.google.com/maps/dir//2576+Aurora+Ave+N,+Seattle,+WA+98109/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x54901505390b0dc1:0xf6565bb98881bb3b?sa=X&ved=2ahUKEwjpsKr6677qAhVcJDQIHazoAMIQwwUwAHoECAsQAw" target="_blank" class="invert underline">2576 Aurora Ave N, Seattle, WA 98109</a></i></p>
    <a href="http://canlis.com"><img style="max-width: 150px" src="/uploads/back.png"></a>
  </div>
</section>
<section class="flyover"></section>
<section class="wave_container bg_navy ">
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
</section>


{% include minifooter.html %}
