{% include minihead.html %}

<div class="logo"></div>


<div class="ticker_container"><div class="ticker"></div></div>

<section class="flex flex_center block bg_red">
  <div class="textblock intro">
    <h2><span class="underline">The Canlis Crab Shack</span> is a six week pop-up in our parking lot featuring all the crab 🦀 you can handle, an actual giant shipwreck 🚢, luxury commodes, personal aquarium cocktails, copius amounts of hand sanitizer 💦. Bibs provided. Bucket hats and sunglasses 🕶encouraged. </h2>
  </div>
</section>
<section class="flex flex_center block bg_yellow">
  <div class="textblock">
    <h2><span class="price"><div class="waves"><div class="waves_inside"></div></div>$59.95</span> per person.</h2>
    <h2>Opens on <i>July 15th</i>. 🏖</h2>
    <h2>Tickets go on sale here July 8th at 3:00PM PST. 💥</h2>
  </div>
</section>
<section class="flex flex_center block block_last bg_navy">
  <div class="textblock">
    <h2>Follow Canlis for the latest. <a href="http://instagram.com/canlisrestaurant" target="_blank"><span class="underline">@canlisrestaurant</span></a></h2>
    <div class="crab"></div>
  </div>
</section>
<section class="wave_container bg_navy ">
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
  <div class="bigwaves">
    <div class="bigwaves_inside"></div>
  </div>
</section>


{% include minifooter.html %}
